.weather__wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    justify-content: space-between; 
    width: 125px;
}

.clouds_weather_pic{
    height: 50px;
}


.weather_pic{
    height: 50px;
}

.weather__temp{
    z-index: 2;
    font-size: 25px;
    margin-top: -10px;
}

.weather_location{
    line-height: 17px;
}