.weather__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative; 
    width: 120px;
}

.clouds_weather_pic{
    height: 50px;
}


.weather_pic{
    margin-left: 80px;
    height: 50px;
}

.weather__temp{
    z-index: 2;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: -5px;
}
