.calculators__wrapper{
    
   
    width: 330px;
    border: solid 3px black;
}

.reorder__wrapper{
    height: 1450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.order__item{
    
    border: solid 3px red;
    background-color: antiquewhite;
}