.apps__list_item{    
    background-color: var(--panels-color);
    margin-right: 3px ;    
    padding: 5px 5px 3px 5px;
    font-size: 19px;
    color: var(--nav-text-color);
}

.apps__list_item.active{    
    background-color: transparent;
    border: solid 3px var(--main-border);
    border-bottom: solid 3px var(--bacground);
    color: black;
    position: relative;    
}

.application__wrapper{        
    display: flex;
    justify-content: center;
    margin-top: 3px;
    border: solid 3px var(--main-border);   
}

.apps__list{
    padding: 8px 0 0 30px;
}

.app__page__wrapper{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}