.logo {
  height: 40px;
  width: 40px;
}

.app_wrapper {
  display: grid;
  max-width: min(900px, 90vw);
  margin: auto;

  grid-template-areas:
    'h h'
    'n c';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 8fr;
  grid-gap: 10px;
}

.app_wrapper_content {
  grid-area: c;  
}